[submodule "WeatherReport"]
	path = WeatherReport
	url = https://github.com/mweston6288/WeatherReport
[submodule "TeamData"]
	path = TeamData
	url = https://github.com/mweston6288/TeamData
[submodule "Schedule"]
	path = Schedule
	url = https://github.com/mweston6288/Schedule
[submodule "ResumeBuilder"]
	path = ResumeBuilder
	url = https://github.com/mweston6288/ResumeBuilder
[submodule "passwordGen"]
	path = passwordGen
	url = https://github.com/mweston6288/passwordGen
[submodule "codingQuiz"]
	path = codingQuiz
	url = https://github.com/mweston6288/codingQuiz
[submodule "noteMaker"]
	path = noteMaker
	url = https://github.com/mweston6288/noteMaker
[submodule "burger"]
	path = burger
	url = https://github.com/mweston6288/burger
[submodule "Project1"]
	path = Project1
	url = https://github.com/mweston6288/Project1.git
[submodule "Project2"]
	path = Project2
	url = https://github.com/mweston6288/Project2.git
